<web-app>
    <display-name>Restful Web Service for NBI </display-name>
    <context-param>
        <param-name>resteasy.resources</param-name>
        <param-value>com.alex.wang.handler.HelloWorld</param-value>
    </context-param>
    
    <context-param>
        <param-name>resteasy.servlet.mapping.prefix</param-name>
        <param-value>/alex</param-value>
    </context-param>
    
    <servlet>
        <servlet-name>resteasy-servlet</servlet-name>
        <servlet-class>
            org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
    </servlet>
    <filter>
    <filter-name>AccessLogFilter</filter-name>
        <filter-class>
            com.alex.wang.filter.AccessFilter
        </filter-class>  
   </filter>
    <filter-mapping>
        <filter-name>AccessLogFilter</filter-name>
        <url-pattern>/alex/*</url-pattern>
    </filter-mapping>

    
    <servlet-mapping>
        <servlet-name>resteasy-servlet</servlet-name>
        <url-pattern>/alex/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
</web-app>
